.cards-rooms-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
}

.cards-rooms-general{
    margin: 1rem .5rem;
}

.cards-img-rooms{
    max-height: 190px;
}

.cards-room-general-title{
    color: var(--azul-rey);
    font-size: 20px;
    font-weight: bold;
}

.buttons-cards-rooms{
    display: flex;
}

.buttons-cards-rooms .general-button, .buttons-cards-rooms .secundary-button{
    max-width: 100px;
}

/*Resolución de tablet*/
@media screen and (min-width: 768px) {
    .cards-rooms-container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/*Resolución de medias (equipos de escritorio)*/
@media screen and (min-width: 1024px) {
    .cards-rooms-container{
        margin: 0 2rem;
    }
    .cards-rooms-general{
        margin: 1rem 2rem;
    }
}