.form-modify-profile{
    padding: 1rem 0;
}

.form-modify-profile h3{
    color: var(--azul-petroleo);
    font-weight: 600;
    margin-top: .5rem;
    text-align: center;
}

.form-divisions{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    position: relative;
}

.input-i{
    color: var(--rosado);
    left: 260px;
    opacity: 0;
    position: absolute;
    top: 40px;
}

.form-divisions label{
    color: var(--negro);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.form-divisions input{
    border: 1px solid var(--negro);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Raleway', sans-serif;
    height: 30px;
    margin-top: .5rem;
    padding: 0 .5rem;
}

.form-divisions input:focus{
    border: 1px solid var(--naranja);
}

.form-profile-button{
    display: flex;
    margin: 2rem auto;
}

.mensaje-error-contact{
    color: var(--rosado);
    margin-top: .5rem;
    padding: .5rem;
}

.mensaje-error-contact p{
    color: var(--rosado);
    background-color: white;
    margin: .5rem;
}

.incorrecto{
    display: initial;
    opacity: 1;
}

.input-incorrecto{
    border: 2px solid var(--rosado);
    color: var(--rosado);
}

.input-correcto{
    border: 2px solid var(--azul-claro);
    color: var(--azul-claro);
}

/*Resolución de tablet*/
@media screen and (min-width: 768px) {
    .form-modify-profile{
        margin: 0 2rem;
    }

    .form-sections-profile{
        display: flex;
        justify-content: space-between;
        margin: 1rem;
        min-width: 600px;
    }

    .form-divisions{
        min-width: 320px;
    }
}

/*Resolución de medias (equipos de escritorio)*/
@media screen and (min-width: 1024px) {

    .form-modify-profile form{
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .form-sections-profile{
        background-color: var(--gris);
        border-radius: 5px;
        padding: 1rem;
    }
}