@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
	box-sizing: border-box;
}

body {
	background: #fff;
	font-family: 'Raleway', sans-serif;
}

h1{
	color:#157A8A;
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
	background-color: #33333315;
}

.estado, .imagenes{
	font-family: 'Raleway', sans-serif;
	font-weight:900;
	font-size: 16px;
	height: 45px;
	border-radius: 8px;
	border: 2px solid;
}

.container-input-img{
	position: relative;
	z-index: 90;
}

.label-input-img{
	display: block;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	padding: 10px;
	min-height: 40px;
	cursor: pointer;
}

.container-input-img select{
	width: 100%;
}

.opcional{
	background-color: var(--azul-rey);
	border: 2px solid var(--azul-rey);
	display: flex;
	flex-direction: column;
	padding: .5rem;
	position: relative;
	z-index: 90;
}

.container-inputs{
	background-color: white;
	display: flex;
	padding: .5rem;
}

.container-inputs input{
	background-color: brown;
	margin: .5rem;
}