.fondo-imagen{
    background: url(https://images.unsplash.com/photo-1590381105924-c72589b9ef3f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.contenido-texto-boton{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 59%, rgba(51,51,51,1) 100%);
    bottom: 0;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    padding: 1rem;
    position: absolute;
    width: 100%;
}

.espacio-boton{
    margin: 1rem auto;
}

/*Resolución de tablet*/
@media screen and (min-width: 768px) {
    .contenido-texto-boton{
        height: 100%;
        justify-content: center;
        max-width: 250px;
    }
}

/*Resolución de medias (equipos de escritorio)*/
@media screen and (min-width: 1024px) {
    .fondo-imagen{
        background-position: 100%;
        height: 100vh;
    }
    .contenido-texto-boton{
        max-width: 350px;
    }
}