.textPerfil-section h1{
    color: var(--azul-petroleo);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.textPerfil-section p{
    color: var(--negro);
    padding: 0 1rem;
}

/*Resolución de tablet*/
@media screen and (min-width: 768px) {
    .textPerfil-section p{
        color: var(--negro);
        padding: 0 2rem;
        text-align: center;
    }
}