
.modal-title{
    color: var(--azul-rey);
    font-size: 25px;
}

.modal-body img{
    margin-bottom: 1rem;
    max-height: 180px;
    min-width: 200px;
    width: 100%;
}

.modal-body h3{
    color: var(--azul-rey);
    font-size: 20px;
}

.modal-body p{
    text-align: left;
}

.modal-aditionals-container h3{
    text-align: center;
}

.aditionals-options{
    align-items: center;
    display: flex;
    justify-content: center;
}

.modal-price-content{
    margin-top: 1rem;
    text-align: center;
}

.modal-price-content p{
    font-weight: bold;
}

.modal-footer{
    display: flex;
    flex-direction: column;
}

.modal-footer .secundary-button{
    margin: 1rem;
    max-width: 140px;
}