
.modal-title{
    color: var(--azul-rey);
}

.modal-body img{
    margin-bottom: 1rem;
    max-height: 180px;
    min-width: 200px;
    width: 100%;
}

.modal-body h5{
    color: var(--azul-rey);
}

.modal-body p{
    text-align: left;
}

.modal-aditionals-container h5{
    text-align: center;
}

.aditionals-options{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: .5rem auto;
    max-width: 350px;
}

.aditionals-options p{
    font-weight: bold;
    margin: .2rem;
}

.modal-price-content{
    margin-top: 1rem;
    text-align: center;
}

.modal-price-content p{
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.modal-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.modal-footer .secundary-button{
    margin: 1rem;
    max-width: 160px;
}

.modal-footer .general-button{
    max-width: 180px;
}

/*Resolución de medias (equipos de escritorio)*/
@media screen and (min-width: 1024px) {
    .modal-body{
        padding: 2rem;
    }
}